{% extends 'usregn.html' %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block header %}
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'usregn' %}">Register</a>
        <a href="{% url 'log' %}">Login</a>
    </nav>
{% endblock %}
{% block content %}
    <h2>Our Latest Posts</h2>
    <section class="jammu">
        <div>
            <h3>14 Best Places to Visit in Pahalgam, Jammu and Kashmir</h3>
            <p>Out of the numerous heavenly places in Kashmir, Pahalgam absolutely is a must-see for travellers. Pahalgam stands out with its plenty of sightseeing places, as one of the go-to destinations for all kinds of travelers, from families or couples to corporate teams and so on. At a height of 7200 ft, this scenic hill station from Kashmir Valley is often called the ‘Valley of Shepherds’ and is where many classic scenes from Bollywood movies have been filmed.

            Located at the intersection of the Lidder River & the Sheshnag Lake, Pahalgam is encompassed by thickly lush pine backwoods, stunning vistas of knolls and the snow-clad Himalayan mountains. The best time to go to Pahalgam starts from the month of March and ends with November. Nevertheless, many travellers prefer winter as Pahalgam transforms into a splendid crystal-white Avatar.</p>
            <h4>Here are some of the must-see places in Pahalgam that make your tour quite memorable no matter when you visit:</h4>
            <ul>
                <li>Baisaran Hills</li>
                <li>Mamleshwar Temple</li>
                <li>Avantipur Temple</li>
                <li>Pahalgam Golf Course</li>
                <li>Kolahoi Glacier</li>
                <li>Aru Village & Valley</li>
                <li>Chandanwari</li>
                <li>Tulian Lake</li>
                <li>Sheshnag Lake</li>
                <li>Betaab Valley</li>
                <li>Marsar Lake</li>
                <li>Mattan</li>
                <li>Lidderwat</li>
                <li>Sinthan Top</li>
            </ul>
        </div>
        <div>
            <img src="/static/image/jammu.jpg" alt="jammu">
        </div>
        </section>
        <br> <br>
        <section class="buddha">
        <div>
            <h3>10 Popular Buddhist Temples to Visit in India</h3>
        
            <p>Most of the world’s greatest Buddhist temples are situated in India, a nation that has a rich spiritual legacy. For people looking for peace and awakening, India’s Buddhist temples offer a fascinating trip across the rich tapestry of religious and cultural heritage. Holy sites across the nations, these locations are vibrant hubs for knowledge, prayer and centuries-old traditions, along with being beautiful pieces of architecture.

            A profound feeling of peace and understanding is offered for those who seek it out at this Buddhist shrine, which additionally serves as a place of worship. Each sacred place ranging from the starting ancient ruin of Bihar to the serene to the peaceful landscape of Himachal Pradesh, narrates a unique story of its architectural beauty and dedication. It is a personal peek into the principle of Buddhism and the extensive variety of culture of India which comes from observing these sacred locations and serves as a journey through time.</p>
            <h4>Here are top 10 Buddhist temples to visit in India including the monasteries: –</h4>
            <ul>
                <li>Mahabodhi Temple Bihar</li>
                <li>Mahabodhi Temple BiharMahaparinirvana Temple UP</li>
                <li>Namgyal Monastery Himachal</li>
                <li>Tawang Monastery Arunachal</li>
                <li>Tabo Monastery, Himachal Pradesh</li>
                <li>Rumtek Monastery, Sikkim</li>
                <li>Wat Thai Temple, Kushinagar UP</li>
                <li>Hemis Monastery Ladakh</li>
                <li>Ghoom Monastery, Darjeeling</li>
                <li>Spituk Monastery Ladakh</li>
            </ul>
        </div>
        <div>
            <img src="/static/image/buddha.jpg" alt="buddha">
        </div>
    </section>
{% endblock %}