{% extends 'vendor.html' %}

{% block content %}
    <header>
        <img src="/static/image/logo.png" alt="LOGO">
        <h3 class="welcome">Welcome {{ vendor.Username }}</h3>
        <nav>
            <a href="{% url 'vendor' %}">Home</a>
            <a href="{% url 'vdlogout' %}">Logout</a>
        </nav>
    </header>
    <br><br><br>
    <a href="{% url 'back' %}" class="back">Back</a>
    <table>
        <tr >
            <th>Full_Name</th>
            <th>Email</th>
            <th>Contact_Number</th>
            <th>No_of_Persons</th>
            <th>Package_Name</th>
        </tr>
        {% for i in booking %}
        <tr >
            <td>{{ i.Full_Name }}</td>
            <td>{{ i.Email }}</td>
            <td>{{ i.Contact_Number }}</td>
            <td>{{ i.No_of_persons }}</td>
            <td>{{ i.package.Package_place }}</td>
            <td>
                <a href="{% url 'bookedpackage' i.pk  %}">view package</a>
            </td>            
        </tr>
        {% endfor %}
    </table>
    {% endblock %}


