{% extends 'usregn.html' %}

{% block title %}
    <title>Contact Us</title>
{% endblock %}

{% block header %}
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'usregn' %}">Register</a>
        <a href="{% url 'log' %}">Login</a>
    </nav>
{% endblock %}
{% block content %}
    <h2 class="conus">Contact Us</h2>
    <section class="address">
        <div class="main">
            <h3>Main Office</h3>
            <p>(Address)</p>
        </div>
        <br>
        <div class="branch">
            <h3>Brance Offices</h3>
            <p>(Address)</p>
        </div>
    </section>
{% endblock %}