{% extends 'vendor.html' %}

{% block content %}

    <header>
        <img src="/static/image/logoo.png" alt="LOGO">
        <h3 class="welcome">Welcome {{ vendor.Username }}</h3>
        <nav>
            <a href="{% url 'vendor' %}">Home</a>
            <a href="{% url 'bookingdetails' %}" >Booking_Details</a>
            <a href="{% url 'vdlogout' %}">Logout</a>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <a href="{% url 'back' %}" class="back">Back</a>
    {% for i in package %}
    {% if not i.is_approved %}
    <dl>
        <dt>
            <div class="dt">
                <img src="{{ i.Image_related_to_package.url }}" alt="imagee" class="packimage">
                <h3 class="location"> {{ i.Package_place }} </h3>
                <ul>
                    <li> {{ i.days_stay }} Days package </li> <br>
                    <li>Price per person is only {{i.price_per_person}} </li> <br> 
                    <li>Booking cannot be cancelled and is non-refundable</li> <br>
                </ul>
            </div>
        </dt>
    </dl>
    {% endif %}
    {% endfor %}
{% endblock %}