{% extends 'usregn.html' %}

{% block title %}
    <title>Login Here</title>
{% endblock %}

{% block header %}
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'usregn' %}">Register</a>
    </nav>
{% endblock %}
{% block content %}
<br> <br>
<form action="{% url 'uslgin' %}">
    <button class="userlog">User Login Here ...</button>
</form>
<br> <br>
<form action="{% url 'vdlgin' %}">
    <button class="venderlogbutton">Vendor Login Here ...</button>
</form>
    
{% endblock %}