<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Days_stay</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for i in package %}
            <tr>
                <td>{{ i.location }}</td>
                <td>{{ i.days_stay }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.image }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>